<div class="folder-wrapper">
    <input matInput type="text" [(ngModel)]="textFilter" placeholder="Search">

    <h3>Folder List</h3>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 folder" *ngFor="let item of folderList | fileFilter:textFilter"
            (click)="onSelectFolder(item)">
            <diV class="file-icon"><i class="fal fa-lg fa-folder"></i></diV>
            <h4 class="file-name">{{item.name}}</h4>
        </div>
    </div>
    <h3>File List</h3>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 folder" *ngFor="let item of fileList | fileFilter:textFilter"
            (click)="onSelectFile(item)">
            <diV class="file-icon"><i class="fal fa-lg" [ngClass]="getExtensions(item)"></i></diV>
            <h4 class="file-name">{{item.name}}</h4>
        </div>
    </div>
</div>