.folder-wrapper {
  .header {
    display: flex;
    justify-content: space-between;
    p-button {
      margin: 0 0.5em;
    }
  }
  .folder {
    margin: 1em;
    .file-icon {
      margin: 16px;
      .fa-lg {
        font-size: 10em;
      }
    }
    .file-name {
      margin: 0 1em;
    }
  }
}
