<div class="folder__content">
    <div class="folder__item">
        <span class="folder__logo">
            <i class="bi bi-folder"></i>
        </span>
        <h3 class="folder__name">Folder name</h3>
    </div>
    <div class="folder__item">
        <span class="folder__logo">
            <i class="bi bi-folder"></i>
        </span>
        <h3 class="folder__name">Folder name</h3>
    </div>
    <div class="folder__item">
        <span class="folder__logo">
            <i class="bi bi-folder"></i>
        </span>
        <h3 class="folder__name">Folder name</h3>
    </div>
    <div class="folder__item">
        <span class="folder__logo">
            <i class="bi bi-folder"></i>
        </span>
        <h3 class="folder__name">Folder name</h3>
    </div>
    <div class="folder__item">
        <span class="folder__logo">
            <i class="bi bi-folder"></i>
        </span>
        <h3 class="folder__name">Folder name</h3>
    </div>
    <div class="folder__item">
        <span class="folder__logo">
            <i class="bi bi-folder"></i>
        </span>
        <h3 class="folder__name">Folder name</h3>
    </div>
    <div class="folder__item">
        <span class="folder__logo">
            <i class="bi bi-folder"></i>
        </span>
        <h3 class="folder__name">Folder name</h3>
    </div>
    <div class="folder__item">
        <span class="folder__logo">
            <i class="bi bi-folder"></i>
        </span>
        <h3 class="folder__name">Folder name</h3>
    </div>
    <div class="folder__item">
        <span class="folder__logo">
            <i class="bi bi-folder"></i>
        </span>
        <h3 class="folder__name">Folder name</h3>
    </div>            <div class="folder__item">
        <span class="folder__logo">
            <i class="bi bi-folder"></i>
        </span>
        <h3 class="folder__name">Folder name</h3>
    </div>
    <div class="folder__item">
        <span class="folder__logo">
            <i class="bi bi-folder"></i>
        </span>
        <h3 class="folder__name">Folder name</h3>
    </div>            <div class="folder__item">
        <span class="folder__logo">
            <i class="bi bi-folder"></i>
        </span>
        <h3 class="folder__name">Folder name</h3>
    </div>            <div class="folder__item">
        <span class="folder__logo">
            <i class="bi bi-folder"></i>
        </span>
        <h3 class="folder__name">Folder name</h3>
    </div>            <div class="folder__item">
        <span class="folder__logo">
            <i class="bi bi-folder"></i>
        </span>
        <h3 class="folder__name">Folder name</h3>
    </div>
</div>