<table class="table table-striped table-hover table-bordered" >
	<thead>
	<th>Name</th>
	<th>Folder</th>
	<th>Parent Folder</th>
	<th>Creation</th>
	<th>Modification</th>
	<th>Actions</th>
	</thead>
	<tbody >
	<tr *ngFor="let e of listItemsDetail">

		<td>{{e?.name}}</td>
		<td>{{e?.folder}}</td>
		<td>{{e?.parentId }}</td>
		<td>{{e?.creation | date}}</td>
		<td>{{e?.modification | date}}</td>
		<td>
			<button class="btn btn-info" (click)="goBack()">go Back</button>
		</td>

	</tr>
	</tbody>
</table>
