$color-active: green;

.folder{
  color: #707070;
}
.file{
  color: #007bff;
}

.folder.selected,
.file.selected {
  color: $color-active;
}
.item {
  text-align: center;
}

.folder:hover,
.file:hover {
  color: $color-active;
}
.folder,
.file {
  cursor: pointer;
}

.item-title {
  width: 100px;
  overflow: hidden;
  word-wrap: break-word;
}
