<div class="p-grid" style="margin-top: .5em">
    <div class="p-col folder" *ngFor="let folder of folders; let i=index" >
        <div class="box">
            <div style="text-align: center;">
                <img *ngIf="folder.folder" src="assets/folder.png" style="display:inline-block;margin:2px 0 2px 2px" width="48">
                <img *ngIf="!folder.folder" src="assets/file.png" style="display:inline-block;margin:2px 0 2px 2px" width="48">
            </div>
            <div style="text-align: center;">{{folder.name}}</div>
        
        </div>
    </div>
</div>
<div style="width: 100%;">
    <!-- <p-orderList [value]="folders" [listStyle]="{'height':'250px'}"
        filter="filter" filterBy="name" 
        dragdrop="true">
        <ng-template let-car pTemplate="item">
            <div class="ui-helper-clearfix">
                <img src="assets/folder.png" style="display:inline-block;margin:2px 0 2px 2px" width="48">
                <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{car.name}} - {{car.id}}</div>
            </div>
        </ng-template>
    </p-orderList> -->
</div>

