<div class="stunning-header bg-primary-opacity">

	<!-- ... end Header Standard Landing  -->
	<div class="header-spacer--standard"></div>

	<div class="stunning-header-content">
		<h1 class="stunning-header-title">404 Error Page</h1>
	</div>

	<div class="content-bg-wrap stunning-header-bg1"></div>
</div>


<section class="medium-padding120">
	<div class="container">
		<div class="row">
			<div class="col col-xl-6 m-auto col-lg-6 col-md-12 col-sm-12 col-12">
				<div class="page-404-content">
<!--					<img loading="lazy" src="assets/img/404.png" alt="photo">-->
					<div class="crumina-module crumina-heading align-center">
						<h2 class="h1 heading-title">A <span class="c-primary">wild ghost</span> appears! Sadly, not what you were looking for...</h2>
						<p class="heading-text">Sorry! The page you were looking for has been moved or doesn’t exist.
							If you like, you can return to our homepage
						</p>
					</div>

					<a routerLink="/" class="btn btn-primary btn-lg">Go to Homepage</a>
				</div>
			</div>
		</div>
	</div>
</section>
