.toolbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;

  .title {
    img {
      margin: 0 1em;
    }
  }

  .link-list {
    margin: 0 1em;

    a {
      margin: 0 0.5em;

      .fa {
        color: white;
      }
    }

  }
}

.content {
  margin: 0.5em 1em;
}


@media screen and (max-width: 575px) {
  .link-list {
    display: none;
    visibility: hidden;
  }
}
