:host {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
}


  #customers {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
  }
  
  #customers td, #customers th {
	border: 1px solid rgb(70, 48, 179);
	padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #c98f8f;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #879fc4;
	color: white;
  }

  section {
	display: table;
  }
  
  .example-label {
	display: table-cell;
	font-size: 14px;
	margin-left: 8px;
	min-width: 120px;
  }
  
  .example-button-row {
	display: table-cell;
	width: 490px;
  }
  
  .example-button-row .mat-button-base {
	margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
  }
  
  .example-button-container {
	display: flex;
	justify-content: center;
	width: 120px;
  }
  .buttonred {
  background-color: #ff0000; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}
.button {
	background-color: #25bb00; 
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 8px;
  }
  .mt{
	margin-top: 1%;
  }

  
