<ng-sidebar-container style="height: 100vh;">
    <ng-sidebar [(opened)]="_opened" position="right" style="width: 22%;">
        <div class="offcanvas-header">
            <h3 class="font-weight-bold m-0"> File Information
            </h3>
        </div>
        <div class="separator separator-dashed separator-title  "></div>
        <div class="form-group offcanvas-info row">
            <label for="staticEmail" class="col-lg-5 customlabel">Name :</label>
            <div class="col-lg-5">
                <input *ngIf="!displayData" type="text" disabled class="form-control-plaintext" value={{item?.name}}>
                <input *ngIf="displayData" type="text" class="form-control" value={{item?.name}}
                    [(ngModel)]="item.name">
            </div>
            <div class="col-lg-2">
                <svg (click)="edit()" style="margin-top: -10px; cursor: pointer;" xmlns="http://www.w3.org/2000/svg"
                    width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                </svg>
            </div>
        </div>
        <div class="separator separator-dashed  "></div>
        <div class="form-group offcanvas-info row">
            <label for="staticEmail" class="col-lg-5 customlabel">Id :</label>
            <div class="col-lg-7">
                <input type="text" disabled class="form-control-plaintext" value={{item?.id}}>
            </div>
        </div>
        <div class="separator separator-dashed  "></div>
        <div class="form-group offcanvas-info row">
            <label for="staticEmail" class="col-lg-5 customlabel">Modification :</label>
            <div class="col-lg-7">
                <input type="text" disabled class="form-control-plaintext" value={{item?.modification}}>
            </div>
        </div>
        <div class="separator separator-dashed  "></div>
        <div class="form-group offcanvas-info row">
            <label for="staticEmail" class="col-lg-5 customlabel">Creation :</label>
            <div class="col-lg-7">
                <input type="text" disabled class="form-control-plaintext" value={{item?.creation}}>
            </div>
        </div>
        <div class="separator separator-dashed  "></div>
        <div class="form-group offcanvas-info row">
            <label for="staticEmail" class="col-lg-5 customlabel">Folder :</label>
            <div class="col-lg-7">
                <input type="text" disabled class="form-control-plaintext" value={{item?.folder}}>
            </div>
        </div>
        <div class="separator separator-dashed  "></div>
        <button [disabled]="!displayData" (click)="save(name)" class="btn btn-primary">Save</button>
    </ng-sidebar>
    <!-- Page content -->
    <div ng-sidebar-content>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header">
                        List Files
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">name</th>
                                    <th scope="col">creation</th>
                                    <th scope="col">modification</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of items">
                                    <!-- <th scope="row">{{item.name}}</th> -->
                                    <td (click)="_toggleSidebar(item)">{{item.name}}</td>
                                    <td (click)="_toggleSidebar(item)">{{item.creation}}</td>
                                    <td (click)="_toggleSidebar(item)">{{item.modification}}</td>
                                    <td style="width: 20%;">
                                        <div style=" text-align: center;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"   (click)="DeletItem(item.id)"
                                                fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path
                                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                                <path fill-rule="evenodd"
                                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                            </svg>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</ng-sidebar-container>