
@import '~bootstrap/dist/css/bootstrap.min.css';


html, body {
	height: 100%;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
}

  /* Add application styles & imports to this file! */
 

.ng-sidebar--right {
    // color: red !important;
    // background: #f8f9fa;
	width: 22%;
	box-shadow: 0 1px 9px -3px rgba(0,0,0,.25);
	background: #fff;
}