@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/nova-light/theme.css';
 @import '~primeng/resources/primeng.min.css';

html, body {
	height: 100%;
}

body {
	// display: flex;
	// align-items: center;
	// justify-content: center;
	// font-size: 30px;
}
