<div class="folder__menu" [class.visible]="selectedItem">
    <div class="close" (click)="closeMenu()"></div>
    <div class="folder__actions">
        <button class="action__button action__button--navigate">navigate</button>
        <button class="action__button action__button--delete">delete</button>
    </div>
    <div class="folder__form">
        <form class="form">
            <div class="form__group">
                <label for="" class="form__label">Name</label>
                <input type="text" class="form__input" placeholder="name" required>
            </div>

            <div class="form__group">
                <label for="" class="form__label">Location</label>
                <select name="" id=""class="form__select">
                    <option value="">folder 1</option>
                    <option value="">folder 2</option>
                    <option value="">folder 3</option>
                </select>
            </div>
            <button class="action__button action__button--gradient">Update</button>
        </form>
    </div>
</div>